* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32,31,27);
}

header {
    background-color: rgb(32,31,27);
    margin: 0;
    margin-top: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    justify-content: space-between;
}

#menu-central{
    align-items:center;
    justify-content:center;
    justify-content: space-between;
    padding: 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20%;
    text-decoration: none;
}

#button-logo {
    background-color: transparent;
    border: none;
}

#button-dev {
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

#my-name {
    align-items:center;
    justify-content:center;
    justify-content: space-between;
    color: rgb(255,94,30);
    margin-left: 350px;
    margin-top: 200px;
    padding: 0px 0px 5px 0px;
    font-family: 'Open Sans', sans-serif;
}

#info-home1 {
    color: rgb(255,255,255);
    margin-left: 350px;
    padding: 0px 0px 5px 0px;
    font-family: 'Open Sans', sans-serif;
}

#info-home2 {
    color: rgba(255,255,255,70%);
    margin-left: 350px;
    font-family: 'Open Sans', sans-serif;
}

#info-home3 {
    color: rgba(255,255,255,60%);
    margin-left: 350px;padding: 0px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif;
}

#button-initial {
    border: linear-gradient(rgba(0,0,0), rgba(255,255,255));
    margin-left: 350px;
}

div.social-list {
    display: flex;
    justify-content: space-between;
    margin-top: 290px;
    margin-right: 100px;
    margin-left: 100px;
    color: rgb(255,255,255);
}

#list-social {
    flex-direction: row;
}